<div class="container">
<h1>
  ■PROFiLE
</h1>

<h5>
  LiSA(リサ)
岐阜県出身。6 月24 日生まれ。

'10年春より放送されたTV アニメ「Angel Beats!」の劇中バンド「Girls Dead Monster（通称︓ガルデモ）」2代目ボーカル・ユイ役の歌い手に抜擢され、ガルデモ名義でのシングル・アルバム累計40万枚以上をセールスし、人気を集める。'11 年春にミニアルバム「Letters to U」にてソロデビュー。
その後、TVアニメ「Fate/Zero」、「ソードアート・オンライン」、「魔法科高校の劣等生」、「鬼滅の刃」など数々の人気作品の主題歌を担当し、国内のみならず世界中にてヒットを記録。
‘19年4月に配信開始した楽曲「紅蓮華」は、配信直後に数々のデイリーチャートを席巻、配信デイリーチャートにて38冠を達成、“平成最後・令和最初”の週間デジタルシングル(単曲)で首位を獲得。同年末には「第70回NHK紅白歌合戦」への初出場を果たす。
‘20年10月には、アルバム「LEO-NiNE」とシングル「炎」を同時リリースし、オリコンデイリーアルバム、シングルランキング（10/13付）にて、“W1位”を獲得。
‘20年末にはTBS「第62回輝く！日本レコード大賞」にて、「日本レコード大賞」を獲得、さらに’21年末には3年連続となる「第72回NHK紅白歌合戦」への出場を果たした。
圧倒的な熱量を持つパフォーマンスと歌唱力、ポジティブなメッセージを軸としたライブは瞬く間に人気を集め、アニソンシーンにとどまらず、数多くのロックフェスでも活躍するライブアーティストとして、その存在感を示している。

座右の銘：今日もいい日だっ。

<ラブレターの送り先>
〒141-8569
東京都品川区上大崎2-13-30 OAK目黒1F~2F
株式会社ソニー・ミュージックアーティスツ内
『LiSA』宛まで。

※飲食物・植物・生物など、現金、金券類(ギフト券・チケットなど)、危険物は受け取ることができません。
</h5>
</div>