<div class ="container">
  <div class="row mt-3">
    <div class="col-4 d-flex align-items-end">
      <%= image_tag 'bn_EveBirth.jpg',class:"img1" %>
    </div>
    <div class="col-8">
      <%= image_tag 'img_main.jpg',class:"img1" %>
    </div>
  </div>
  <div class="row mt-5 top-info">
    <div class="col-12 text-light">
    <h1>INFORMATiON</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1>MOVIE</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4 text-center">
      <iframe width="350" height="100%" src="https://www.youtube.com/embed/5whFTc6SaI8" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <div class="mt-3">
        LiSA『白金』</br>
        -MUSiC CLiP-
      </div>
    </div>
    <div class="col-4 text-center">
      <iframe width="350" height="100%" src="https://www.youtube.com/embed/yGcm81aaTHg" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <div class="mt-3">
        LiSA『明け星』</br>
        -MUSiC CLiP-
      </div>
    </div>
    <div class="col-4 text-center">
      <iframe width="350" height="100%" src="https://www.youtube.com/embed/Ff7k1zxBe1I" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <div class="mt-3">
        LiSA『往け』</br>
        -MUSiC CLiP-
      </div>
    </div>
  </div>
</div>