<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-5"><%= f.text_field :music_title, class: "form-control", placeholder: "曲名" %></div>
    <div class="col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f %>
    </div>
  </div>
</div>