<div class="container">
<header class="mt-3 mb-3 pb-0">
  <nav>
    <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo1.png', class: "img3" %></a>
    <div id="sp-menu">
      <ul>
        <div class="row mt-5">
          <div class="col-2"></div>
          <div class="col-4 mt-5">
        <li><a href="#">TOP</a></li>
        <li><a href="/infos">INFORMATiON</a></li>
        <li><a href="#">PROFiLE</a></li>
        <li><a href="#">DiSCOGRAPHY</a></li>
        <li><a href="#">LiVE</a></li>
        <li><a href="#">MEDiA</a></li>
        </div>
        <div class="col-4 mt-5">
        <li><a href="#">LiNK</a></li>
        <li><a href="#">GOODS</a></li>
        <li><a href="#">FROM LiSA</a></li>
        <li><a href="#">MAiL</a></li>
        <li><a href="#">FAN CLUB</a></li>
        </div>
        <div class="col-2"></div>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger mr-5 pr-5" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </nav>
</header>
</div>