<header class="shadow-sm mb-0 pb-0">
  <nav class="navbar navbar-light p-0 light2">
    <div class="container">
      <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo1.png', size: "auto" %></a>
      
      <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <li><a href="#">MENU1</a></li>
        <li><a href="#">MENU2</a></li>
        <li><a href="#">MENU3</a></li>
        <li><a href="#">MENU4</a></li>
        <li><a href="#">MENU5</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
</div>
</nav>
</header>